@font-face {
  font-family: "Ubisoft Sans";
  src: url("fonts/UbisoftSansRegular/Ubisoft-Sans-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Ubisoft Sans Bold";
  src: url("fonts/UbisoftSansBold/Ubisoft-Sans-Bold") format("truetype");
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubisoft Sans", sans-serif;
}

/* header */

header {
  background-color: #000;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header svg {
  height: 50px;
  fill: #fff;
  cursor: pointer;
  overflow: hidden;
}
footer svg {
  width: 122px;
  height: 39px;
  fill: #fff;
  cursor: pointer;
  overflow: hidden;
}

header a {
  margin-left: 434.5px;
  margin-right: 434.5px;
  font-size: 16px;
  width: 93px;
  height: 50px;
}
.ubisoft_connect button {
  touch-action: manipulation;
  /* transition-behavior: normal normal; */
  transition-property: background-color border;
  transition-timing-function: ease ease;
  transition-duration: 0.3s 0.3s;
  transition-delay: 0s 0s;
}
.ubisoft_channels p {
  transform: matrix(1, 0, 0, 1, 0, -7.3125);
}
.ubisoft_channels::before {
  content: "";
  display: table;
  clear: both;
}
