@font-face {
  font-family: "Ubisoft Sans";
  src: url("fonts/UbisoftSansRegular/Ubisoft-Sans-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Ubisoft Sans Bold";
  src: url("fonts/UbisoftSansBold/Ubisoft-Sans-Bold") format("truetype");
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubisoft Sans", sans-serif;
}

/* header */

header {
  background-color: #000;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header svg {
  height: 50px;
  fill: #fff;
  cursor: pointer;
  overflow: hidden;
}
footer svg {
  width: 122px;
  height: 39px;
  fill: #fff;
  cursor: pointer;
  overflow: hidden;
}

header .svg_link {
  margin-left: 434.5px;
  margin-right: 434.5px;
  font-size: 16px;
  width: 93px;
  height: 50px;
}
.ubisoft_connect button {
  touch-action: manipulation;
  transition-property: background-color border;
  transition-timing-function: ease ease;
  transition-duration: 0.3s 0.3s;
  transition-delay: 0s 0s;
}
.ubisoft_channels p {
  transform: matrix(1, 0, 0, 1, 0, -7.3125);
}
.ubisoft_channels::before {
  content: "";
  display: table;
  clear: both;
}
.banner {
  background-image: radial-gradient(ellipse at center, #f86531 0, #b23004 100%);
}
.banner p {
  text-shadow: rgb(182, 51, 7) 0px 1px 1px;
}

.swiper-slide h2,
.swiper-slide p {
  text-shadow: rgb(0, 0, 0) 0px 2px 10px;
}
.ubisoft_forward .swiper-slide p {
  text-shadow: none;
}
.title {
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: all;
  transition-duration: 1.2s;
  transition-delay: 0.4s;
  transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}
.title p {
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition-delay: 0.8s;
  transition-duration: 1.2s;
  transition: all;
  transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}
.one_ecosystem .image,
.multi_platform_ecosystem .image {
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}
.one_ecosystem .content,
.multi_platform_ecosystem .content {
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}
.title_section h2 {
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}
.new_release h2 {
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}
.new_release .card {
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}

.feature_videos .svg_button:hover .svg {
  fill: red;
}
.more_information {
  text-shadow: rgba(0, 0, 0, 0.6) 0px 3px 6px;
}
.more_information a {
  text-shadow: rgba(0, 0, 0, 0.6) 0px 3px 6px;
}
.featured_games .cards {
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.games select {
  background-image: url("images/viewAllGamesImages/download.svg");
  appearance: none;
  background-position-x: calc(100% - 11.2px);
  background-position-y: 50%;
  background-size: 9.6px;
  background-color: #fff;
  border-color: rgb(118, 118, 118);
  border-image-width: 1;
  background-repeat: no-repeat;
  outline-color: #6daaeb !important;
}
.games select option {
  text-align: start;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  min-block-size: 19.2px;
  line-height: 28px;
  font-size: 16px;
  color: #000;
  font-weight: 700;
}
/* .games .card {
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.games .card:hover {
  transform: scale(1.05);
} */
.menu {
  overflow: hidden;
}
.menu::-webkit-scrollbar {
  display: none;
}
.active {
}
header .header_bottom svg {
  /* background: white !important; */
}
